{% extends "_base.html" %}

{% block content %}
      <h2>Edit history of &quot;{{ edits[0].subject }}&quot;</h2>
      <ul class ="alternatinglist">
        {% for p in edits %}
        <li>
          <span>
            {{ p.content[:100] + '...' }}
          </span>
          <span style="float: right;">
            <a href="/{{ p.subject }}?v={{ p.key().id() }}">view</a> | <a href="/_edit/{{ p.subject }}">edit</a>
          </span>
        </li>
        {% endfor %}
      </ul>
{% endblock %}